*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins','Roboto', sans-serif;
    margin: 0;
} 
a  { 
    font-size: 1em;
    text-decoration: none;
    color: gold;
  }
h1{ 
    font-size: 3.5em;
    
}

h2{ font-size: 2em;}
h3{ 
    font-size: 1.5em;
    margin: 0;
}
p{ 
    margin: 0;
    font-size: 1.25em;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: gold;
    font-size: 2em;
    font-family: 'Great Vibes';
    font-weight: lighter;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 28, 28);
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: gold;
}

header a:hover{
    color: white;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.295),
        rgb(30, 30, 30) 80%
    )
    ,url("media/maria.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: gold;
}
.img-container {
    width: 60vw;
    height: 30vh;
    background-image: url(media/V.png);
    background-size: 60vw 30vh;
}
#hero p{
    max-width: 85%;
    text-align: justify;
    font-size: 1em;
}
#nuestras-ropas{
    background-color: rgb(30,30,30);
    color: gold;
    text-align: center;
}

#nuestras-ropas .container{
    padding: 150px 12px;
}

#nuestras-ropas .carta{
    background-position: bottom bottom;
    background-size: cover;
    padding: 25px;
    margin: 30px;
    border-radius: 15px;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.carta h3{
    color: gold;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://ae01.alicdn.com/kf/Hc234672adbe04cd4a82614a7583f08adU/Traje-de-padre-e-hijo-de-3-piezas-para-hombre-Blazer-Formal-de-mezcla-de-algod.jpg_640x640.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://cdn0.matrimonios.cl/article-dress/9507/original/1280/jpg/m217059.jpeg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://cdn0.casamiento.com.uy/article-dress/3424/original/1280/jpg/m264243.jpeg");

}
.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://img.joomcdn.net/2a21845d6c6936b49f5ffcc9544b2e62afab1fc2_original.jpeg");

}
#horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgb(30, 30, 30) 10%,
        rgba(0, 0, 0, 0.295),
        rgb(30, 30, 30) 95%
        
    )
    ,url("media/mariazul.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: gold;
}

ul {
    margin: 0 0 10px 0;
    list-style: none;
    padding-left: 0;
}
li p{
    font-size: 1em;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
        180deg,
        rgb(30, 30, 30) 5%,
        rgba(0, 0, 0, 0.295)
    )
    ,url("media/niña.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.img-container-two {
    width: 60vw;
    height: 30vh;
    background-image: url(media/V.png);
    background-size: 60vw 30vh;
}
  

  .contact-section-header > h2 {
    color: gold;
    text-shadow: 2px 2px 1px #1f1f1f;
    text-align: center;
    padding: 0 20px;
    margin: 0;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .contact-details {
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
 
  
  footer {
    font-size: 0.5rem;
    font-weight: lighter;
    background: rgb(31, 28, 28);
    
  }
  
  footer > p {
    text-align: center;
    color: gold;
    margin: 0;
    padding: 10px;
  }

  @media (min-width: 1100px) {
    a  { 
        font-size: 2em;
      }
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        font-size: 0.7em;
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .img-container {
        width: 40vw;
        height: 60vh;
        background-image: url(media/V.png);
        background-size: 40vw 60vh;
        
    }
    #hero {
         padding-left: 5%;
         background-image: linear-gradient(
            70deg,
            rgb(15, 15, 15) 35%,
            rgb(20, 19, 19) 50%,
            rgb(26, 24, 24) 65%,
            rgba(30, 30, 30, 0.747) 75% 
        ),url(media/maria.jpeg);
        
        background-size: contain;
        background-position:right;
        background-repeat: no-repeat;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: left;
    }
    #hero p{
        max-width: 40%;
        text-align: left;
    }

    #nuestras-ropas .vestimentas{
            display: grid;
            grid-template-columns: auto auto;
        }
    

    #nuestras-ropas .carta{
        padding: 25px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        max-width: 90%;
    }
    #horarios {
        padding-right: 20%;
        background-image: linear-gradient(
           85deg,
           rgba(30, 30, 30, 0.747) 10%,
           rgb(26, 24, 24),
           rgb(20, 19, 19),
           rgb(15, 15, 15)
       ),url(media/mariazul.JPEG);
       
       background-size: contain;
       background-position:left;
       background-repeat: no-repeat;
       text-align: left;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: center;
       text-align: center;
   }
   ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
   }
   .img-container-two {
    width: 40vw;
    height: 60vh;
    background-image: url(media/V.png);
    background-size: 40vw 60vh;
    
}
#contact {
    background-image: linear-gradient(
    0deg,
    rgb(30, 30, 30) 5%,
    rgba(0, 0, 0, 0.295)
)
,url("media/niña.jpeg");
}
    
    .contact-section {
        padding: 0 5rem;
        justify-content: center;
    }
    .contact-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin-top: 4rem;
        gap: 20px;
        padding-bottom: 20px;
      }

    } 
    @media (min-width: 1300px) {
        #nuestras-vestimentas .vestimentas{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        .carta {
            width: 20%;
        }
      }

